@model IEnumerable<iWasHere.Domain.Model.DictionaryCountry>

@{
    ViewData["Title"] = "Countries";
}

<center><h1>Countries</h1></center>

<script type="text/javascript">

    function test() {

        $("#grid").data("kendoGrid").dataSource.read();
        $("#grid").data("kendoGrid").dataSource.page(1);
    }


    function filter() {
        var CountryName = $("#CountryName").val();
        var CountryCode = $("#CountryCode").val();
        var filter = {};
        filter["CountryName"] = CountryName;
        filter["CountryCode"] = CountryCode;
        console.log(filter.CountryName);
        return filter;
    }

    function txtFilterCountry() {

        var object = {};
        object["CountryName"] = $("#CountryName").val();
        object["CountryCode"] = $("#CountryCode").val();
        return object;
    }


    function addCountry() {

        window.location.href = "@Url.Action("Country", "Dictionary")?CountryId=" + null;
    }

    @*function editCountry() {

        var gview = $("#grid").data("kendoGrid");
        var selectedItem = gview.dataItem(gview.select());
        var id = selectedItem.id;
        window.location.href = "@Url.Action("Country", "Dictionary")?CountryId=" + id;
    }*@

   function deleteFilter() {

        $("#CountryCode").val('');
        $("#CountryName").val('');
        $("#grid").data("kendoGrid").dataSource.read();
        $("#grid").data("kendoGrid").dataSource.page(1);
    }

    function editCountry(e) {

        grid = $("#grid").data("kendoGrid");
        var row = e.currentTarget.closest("tr").cells[0].outerText;
        window.location.href = "@Url.Action("Country", "Dictionary")?CountryId=" + row;
        }

        function deleteCountry(e) {

        if (confirm("Are you sure you want to delete the selected record(s)?")) {
            $.ajax({
                type: "Post",
                url: '@Url.Action("DeleteCountry", "Dictionary")',
                data: {
                   CountryId: e
                }
            })
                .done(function (e) {
                     $("#grid").data("kendoGrid").dataSource.read();
                     $("#grid").data("kendoGrid").dataSource.page(1);
                    
                })
                .fail(function (e) {
                    alert("There are other connections to County");                  
                });
        } else {
            // cancel button is clicked
        }
    }
</script>

<br />
<br />

<label>Country Code 
</label>
<input id="CountryCode" type="text" />

<label>Country Name 
</label>
<input id="CountryName" type="text" />




<button id="FilterCountry"  style="background-color: #000000; color: white; border-color:#000000; box-shadow: 0px 0px 10px 0px  #ffff00;" ; onclick="test()"> Filter </button>

<button id="deleteFilterCountry"  style="background-color: #000000; color: white; border-color:#000000; box-shadow: 0px 0px 10px 0px  #ffff00; " ; onclick="deleteFilter()">Clear Filters </button>

<br />
<br />

<button id="AddCountry"  style="background-color: #000000; color: white; border-color:#000000; box-shadow: 0px 0px 10px 0px  #ffff00;" ; onclick="addCountry()">
    Add
</button>

@(Html.Kendo().Grid<iWasHere.Domain.Model.DictionaryCountry>()
    .Name("grid")
    .Columns(columns =>
    {
        columns.Bound(c => c.DictionaryCountryId).Width(70).Hidden(true);
        columns.Bound(c => c.DictionaryCountryCode).Width(70);
        columns.Bound(c => c.DictionaryCountryName).Width(110);
        columns.Command(command => { command.Custom("Edit").Click("editCountry"); command.Destroy(); }).Width(70);
    })
    .HtmlAttributes(new { style = "height: 550px;" })
    .Scrollable()
    .Groupable(false)
    .Selectable()
    .Sortable()
    .Pageable(pageable => pageable
        .Refresh(true)
        .PageSizes(true)
        .ButtonCount(5))
    .DataSource(dataSource => dataSource
        .Ajax()
        .Model(model =>
        {
            model.Id(c => c.DictionaryCountryId);
        }
        )
        .Read(read => read.Action("DictionaryCountryData", "Dictionary").Data("txtFilterCountry"))
        .Destroy(update => update.Action("DeleteCountry", "Dictionary"))
        .PageSize(20)
    )
)
